@charset "UTF-8";

@font-face {
    font-family: 'Nanum Maru Buri';
    font-weight: normal; 
    font-style: normal; 
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_02/NanumMaruburiBetar.woff2) format('woff2'),
        url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_02/NanumMaruburiBetar.woff) format('woff');
    font-display: swap;
}

/* Global */
:root {
    /* color */
    --color-dark: #000000;
    --color-back: #242321;
    --color-black: #222222;
    --color-gray: #B5ACAC;
    --color-dgray: #6b6161;
    --color-white: #F0F0F0;
    --color-bg2: #d6d6d6;
    --color-transparent: transparent;
    
    /* Font size */
    --font-large: 48px;
    --font-medium: 32px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* title size */
    --title-large: 16vw;
    --title-medium: 12vw;
    --title-regular: 8vw;

    /* Font weight */
    --weight-black : 900;
    --weight-bold: 700;
    --weight-medium: 500;
    --weight-regular: 400;
    --weight-light: 300;
    --weight-thin: 100;

    /* ani box */
    --img-width: 650px;
    --img-height: 460px;
    --ratio-one: 1.2;
    --ratio-two: 1.6;
}

body {
    color: var(--color-back);
    background: var(--color-white);
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* scroll box */
.scroll {
    position: fixed;
    z-index: 100000;
    left: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* progress */
.progress {
    background: var(--color-dark) ;
    color: var(--color-bg2);
    width: 100%; 
    height: 100vh;
    position: fixed; 
    z-index: 50000;
	animation: progress 0.5s ease;
}
.progress-text {
    display: block;
    font-size: 2.6vw;
    margin-top: 10px;
    position: absolute;
    top: 73%;
    left: 50%;
    width: 100%;
    height: 100vh;
    line-height: 100vh;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: #fff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#loading {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* layout */
#header{
    width: 100%;
    height: 40px;
}
#contents {
    width: 100%;
    }
#section1 {
    opacity: 0;
    position: relative;
    width: 100%;
    background-color: var(--color-white);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

#section1.show {
    opacity: 1;
}

#section2 {
    position: relative;
    width: 100%; 
    height: 100vh;
    background-color: var(--color-back);
}
#section3 {
    position: relative;
    width: 100%;  
    height: 100vh;
}

#section4 {
    position: relative;
    width: 100%;  
    height: 100vh;
}

#section5 {
    position: relative;
    width: 100%;  
    height: 100vh;
}

#section6 {
    width: 100%; 
    position: relative; 
    padding-top: 20vh; 
    background-color: var(--color-back);
}

#section7 {
    margin: 20vw 0;
    position: relative;
    width: 100%; 
    background-color: var(--color-white);
}

#footer {
    width: 100%;
    height: 100vh; 
    color: var(--color-white);
    background-color: var(--color-back);
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* container */
.container {
    position: relative;
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* header */
.hd_bg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-dark);
}

.hd_bg strong {
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    font-size: 13vw;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: var(--color-bg2);
    transform: translate(-50%, -70%);
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
    -o-transform: translate(-50%, -70%);
}

.hd_bg strong span {
    padding-left: 6px;
    transform: translateY(60px);
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -o-transform: translateY(60px);
}

.hd_bg em {
    margin-top: 12%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    font-family: 'Anton', sans-serif; 
    font-size: 7vw;
    color: var(--color-bg2);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.hd_bg em span {
    padding-left: 3px;
    font-weight: var(--weight-medium); 
    -webkit-text-stroke: 1.4px var(--color-white); 
    color: var(--color-transparent);
    transform: translateY(60px);
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -o-transform: translateY(60px);
    
}

.hd {
    opacity: 0;
    padding: 20px 30px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    transition: all 0.5s ease ;
    -webkit-transition: all 0.5s ease ;
    -moz-transition: all 0.5s ease ;
    -ms-transition: all 0.5s ease ;
    -o-transition: all 0.5s ease ;
}
.hd.on {position: fixed; top: -50px;}

.hd h1 {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-micro); 
    font-weight: var(--weight-thin);
}
.hd strong {
    font-family: 'Roboto', sans-serif; 
    font-size: var(--font-micro); 
    font-weight: var(--weight-thin);
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* nav */
#nav {
    position: fixed;
    top: 50%;
    right: 30px;
    z-index: 100000;
    font-family: 'Fjalla One', sans-serif;
    font-size: var(--font-small);
    text-transform: capitalize;
    white-space: nowrap;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
}
.nav_list {opacity: 0;}
.nav_list li {display: inline;}
.nav_list li a {
    padding: 10px 0;
    display: inline-block; 
    color: var(--color-back);
}

.nav_list li.on a{
    color: var(--color-back);
    text-decoration: line-through;
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* scrolldown */
.down {
    opacity: 0;
    position: fixed;
    z-index: 100;
    bottom: 5%;
    right: 2%;
}

.down.on {
    display: none;
}

.down .mouse {
    display: inline-block;
    width: 30px;
    height: 50px;
    border-radius: 50px;
    box-sizing: border-box;
    border: 1.5px solid var(--color-back);
    animation: mouse 2s ease-in-out;
}

@keyframes mouse {
    0% {opacity: 0;}
    65% {opacity: 0.6;}
    100%{opacity: 1;}
}

.down .mouse .wheel {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 5px;
    height: 12px;
    background-color: var(--color-back);
    border-radius: 30%;
}
.down .mouse .scroll1 {
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid var(--color-back);
    animation: down3 1.2s infinite;
}
.down .mouse .scroll2 {
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid var(--color-back);
    animation: down2 1.2s infinite;
}
.down .mouse .scroll3 {
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid var(--color-back);
    animation: down 1.2s infinite;
}

@keyframes down{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
        transform: translateY(8px);
    }
}
@keyframes down2{
    40%{
        opacity:0;
    }
    100%{
        opacity:0.5;
        transform: translateY(8px);
    }
}
@keyframes down3{
    60%{
        opacity:0;
    }
    100%{
        opacity:0.2;
        transform: translateY(8px);
    }
}

/* -------------------------------------------------------------------------------------------------------------------- */

/* section1 .main */
.main {padding: 20vh 0 40vh}
.main strong {
    padding-bottom: 1%; 
    display: block; 
    font-size: var(--title-medium); 
    font-family: 'Anton', sans-serif; 
    font-weight: var(--weight-regular); 
    line-height: 12vw; 
    white-space: nowrap;
}
.main strong.outline {font-weight: var(--weight-medium); -webkit-text-stroke: 1.4px var(--color-back); color: var(--color-transparent);}
.main strong span {
    display: inline-block;
    opacity: 0;
    transform:translateY(40px) ;
    -webkit-transform:translateY(40px) ;
    -moz-transform:translateY(40px) ;
    -ms-transform:translateY(40px) ;
    -o-transform:translateY(40px) ;
}

.main strong:last-child span {
    min-width: 25px;
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* section2 .about */
.about {
    padding: 20vh 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-back);
}

.about_title h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 20vh;
    font-family: 'Anton', sans-serif; 
    font-size: var(--title-large); 
    font-weight: var(--weight-medium); 
    white-space: nowrap;
    color: var(--color-white);
}
.about_title h2 span {
    display: inline-block;
    opacity: 0;
    min-width: 8%;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* section3,4,5 */
.slide {
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    height: 100vh;
}

.left {
    flex-basis: 50%;
    position: relative;
    z-index: 1;
}
.left .text_wrap {
    overflow: hidden;
    position: relative;
    padding: 6vw 6vw 10vw;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
    height: 100%;
    opacity: 0;
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    transition: all 0.5s cubic-bezier(0, 0.51, 0.43, 1.25) 0.3s;
    -webkit-transition: all 0.5s cubic-bezier(0, 0.51, 0.43, 1.25) 0.3s;
    -moz-transition: all 0.5s cubic-bezier(0, 0.51, 0.43, 1.25) 0.3s;
    -ms-transition: all 0.5s cubic-bezier(0, 0.51, 0.43, 1.25) 0.3s;
    -o-transition: all 0.5s cubic-bezier(0, 0.51, 0.43, 1.25) 0.3s;
}

.left .text_wrap.show {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
}

.left .text_wrap .cont_title {
    margin: 0 0 4vw;
    font-family: 'Nanum Maru Buri';
    letter-spacing: 0.3vw;
}

.left .text_wrap .cont_title .main_txt:nth-child(1) {font-size: 4vw;}

.left .text_wrap .cont_title .main_txt {display: block;}

.left .text_wrap .cont_title .main_txt span {
    display: inline-block;
    opacity: 0;
    min-width: 30px;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
}
.left .text_wrap .cont_title .sub_txt span {
    display: inline-block;
    opacity: 0;
    transform: translateX(40px);
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
}

.left .text_wrap .content_wrap {
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
                justify-content: flex-end;
}

.left .text_wrap .content_wrap .content_txt {
    margin-left: 32px;
    max-width: 24vw;
    -webkit-box-ordinal-group: 3;
    order: 2;
    font-family: 'Nanum Maru Buri';
    opacity: 0;
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transition: all 1s cubic-bezier(0, 0.51, 0.43, 1.25) 1s;
    -webkit-transition: all 1s cubic-bezier(0, 0.51, 0.43, 1.25) 1s;
    -moz-transition: all 1s cubic-bezier(0, 0.51, 0.43, 1.25) 1s;
    -ms-transition: all 1s cubic-bezier(0, 0.51, 0.43, 1.25) 1s;
    -o-transition: all 1s cubic-bezier(0, 0.51, 0.43, 1.25) 1s;
}

.left .text_wrap .content_wrap .content_txt.show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    opacity: 1;
}

.left .text_wrap .content_wrap a.top_link {
    position: relative;
    -webkit-box-ordinal-group: 2;
    order: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    top: 2vh;
    right: 1vw;
    width: 75px;
    height: 53px;
    opacity: 0;
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transition: all 1s cubic-bezier(0, 0.51, 0.54, 1) 1.3s;
    -webkit-transition: all 1s cubic-bezier(0, 0.51, 0.54, 1) 1.3s;
    -moz-transition: all 1s cubic-bezier(0, 0.51, 0.54, 1) 1.3s;
    -ms-transition: all 1s cubic-bezier(0, 0.51, 0.54, 1) 1.3s;
    -o-transition: all 1s cubic-bezier(0, 0.51, 0.54, 1) 1.3s;
}

.left .text_wrap .content_wrap a.top_link.show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    opacity: 1;
}

.top_link > * {
    pointer-events: none;
}

.top_link .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--color-dark);
}

.top_link .line {
    position: absolute;
    top: 69%;
    left: 0;
    width: 55px;
    height: 3px;
    background-color: var(--color-dark);
    transition: all 1s cubic-bezier(0, 0.51, 0.43, 1.25);
    -webkit-transition: all 1s cubic-bezier(0, 0.51, 0.43, 1.25);
    -moz-transition: all 1s cubic-bezier(0, 0.51, 0.43, 1.25);
    -ms-transition: all 1s cubic-bezier(0, 0.51, 0.43, 1.25);
    -o-transition: all 1s cubic-bezier(0, 0.51, 0.43, 1.25);
}

.top_link:hover .line {
    left: 35px;
    width: 30px;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
}

.line {overflow: hidden;}

.left .next_slide {
    overflow: hidden;
    position: absolute;
    right: -94px;
    bottom: 3.5vw;
    display: block;
    width: 120px;
    height: 140px;
    background: var(--color-back);
    opacity: 0;
    transform: translateY(300px);
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    -ms-transform: translateY(300px);
    -o-transform: translateY(300px);
    transition: all 0.5s cubic-bezier(0, 0.51, 0.43, 1.25) 1s;
    -webkit-transition: all 0.5s cubic-bezier(0, 0.51, 0.43, 1.25) 1s;
    -moz-transition: all 0.5s cubic-bezier(0, 0.51, 0.43, 1.25) 1s;
    -ms-transition: all 0.5s cubic-bezier(0, 0.51, 0.43, 1.25) 1s;
    -o-transition: all 0.5s cubic-bezier(0, 0.51, 0.43, 1.25) 1s;
}

.left .next_slide.show {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
}

.scroll_line {
    position: absolute;
    left: 26px;
    bottom: 0;
    width: 1px;
    height: 60%;
    transition: height 0.5s cubic-bezier(0, 0.51, 0.43, 1.25);
    -webkit-transition: height 0.5s cubic-bezier(0, 0.51, 0.43, 1.25);
    -moz-transition: height 0.5s cubic-bezier(0, 0.51, 0.43, 1.25);
    -ms-transition: height 0.5s cubic-bezier(0, 0.51, 0.43, 1.25);
    -o-transition: height 0.5s cubic-bezier(0, 0.51, 0.43, 1.25);
} 

.left .next_slide:hover .scroll_line {
    height: 20%;
}

.slide1 .left .text_wrap {background: #e2e2c9;}
.slide2 .left .text_wrap {background: #b5d5e4;}
.slide3 .left .text_wrap {background: #d8bad3;}

.slide1 .scroll_line {background: #e2e2c9;}
.slide2 .scroll_line {background: #b5d5e4;}
.slide3 .scroll_line {background: #d8bad3;}

.right {
    flex-basis: 50%;
    position: relative;
    overflow: hidden;
}
.right .img_wrap {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 100%;
    height: 160vh;
}

.right .img_wrap .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slide .has_ani {
    position: relative;
    width: 100%;
}

.slide .has_ani img {opacity: 0;}

.slide .has_ani.ani_in img {
    animation: imgHidden 0.5s forwards 0.7s;
    -webkit-animation: imgHidden 0.5s forwards 0.7s;
}

.slide .has_ani.ani_in::before, .has_ani.ani_in::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
}

.slide .has_ani.ani_in::before {
    background-color: var(--color-dgray);
}

.slide1 .has_ani.ani_in::after {
    background-color: #237abf;
    animation-delay: 0.5s;
}

.slide2 .has_ani.ani_in::after {
    background-color: #f7cc45;
    animation-delay: 0.5s;
}

.slide3 .has_ani.ani_in::after {
    background-color: #ee5f59;
    animation-delay: 0.5s;
}

.slide .has_ani.ani_rtl.ani_in:before {
    animation: revealRTL 1.6s ease;
    -webkit-animation: revealRTL 1.6s ease;
}
.slide .has_ani.ani_rtl.ani_in:after {
    animation: revealRTL 1.2s ease 0.6s;
    -webkit-animation: revealRTL 1.2s ease 0.6s;
}

@keyframes revealLTR {
    0% {
    width: 0;
    left: 0;
    }
    65% {
    width: 100%;
    left: 0;
    }
    100% {
    width: 0;
    left: 100%;
    }
}

@keyframes revealRTL {
    0% {
    width: 0;
    left: 100%;
    }
    65% {
    width: 100%;
    left: 0;
    }
    100% {
    width: 0;
    left: 0;
    }
}

@keyframes imgHidden {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* section6 .work */
#section6 .container {
    padding: 0 6vw;
}

.work {padding: 20vh 0; color: var(--color-white);}
.work_title {margin-bottom: 50vh; text-align: center;}
.work_title h2 {
    overflow: hidden; 
    font-family: 'Anton', sans-serif; 
    font-size: var(--title-large); 
    font-weight: var(--weight-medium); 
    white-space: nowrap;
}
.work_title h2 span {
    display: inline-block;
    opacity: 0;
    transform:translateY(40px);
    -webkit-transform:translateY(40px);
    -moz-transform:translateY(40px);
    -ms-transform:translateY(40px);
    -o-transform:translateY(40px);
}

.work_box .w_box {padding-bottom: 50vh;}
.work_box .w_box7 {padding-bottom: 40vh;}

.w_box .box {
    display: flex;
    position: relative;
}

.w_box .box img {width: 100%;}

.w_box .box::before {
    position: absolute;
    top: -25vh;
    left: 0;
    font-family: 'Anton', sans-serif;
    font-size: 12vh;
    font-weight: var(--weight-light);
    font-style: italic;
    color: var(--color-transparent);
    -webkit-text-stroke: 1.3px var(--color-white);
}

.w_box1 .box::before {content: "01";}
.w_box2 .box::before {content: "02";}
.w_box3 .box::before {content: "03";}
.w_box4 .box::before {content: "04";}
.w_box5 .box::before {content: "05";}
.w_box6 .box::before {content: "06";}
.w_box7 .box::before {content: "07";}

.w_box .box::after {
    content: '';
    position: absolute;
    top: -13vh;
    left: 15vh;
    width: 120px;
    height: 1px;
    background-color: var(--color-white);
}

.w_box .box .left {
    position:relative; 
    flex: 0 0 40%; 
    justify-content: space-between;
    color: var(--color-white);
}

.w_box .box .left .title h3 {
    font-family: 'Anton', sans-serif;
    font-size: var(--font-large);
    line-height: 1;
    padding-bottom: 2vh;
}

.w_box .box .left .title p {
    padding-right: 25%;
    font-size: var(--font-small);
    font-weight: var(--weight-bold);
}

.w_box2 .box .left .title p,
.w_box3 .box .left .title p {
    padding-right: 30%;
}

.w_box .box .left .txt {margin-top: 6vh;}

.w_box .box .left .txt li {
    font-size: var(--font-small);
    font-weight: var(--weight-light);
    color: var(--color-gray);
}
.w_box .box .left .txt .des {margin-bottom: 4vh;}

.w_box .box .left .btn {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 5vh;
    max-width: 220px;
    width: 100%;
    border: 1px solid #fff;
    text-align: center;
}
.w_box .box .left .btn a {
    display: block;
    padding: 0.5vw;
    font-size: var(--font-regular);
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    color: var(--color-white);
}

.w_box .box .left .btn:after {
    content: '';
    position: absolute;
    width: 0;
    height: 120%;
    bottom: 0;
    left: -10%;
    transition: .3s;
    transform: skewX(20deg);
    z-index: -1;
    background-color: var(--color-white);
}
.w_box .box .left .btn:hover a {
    color: var(--color-dark);
    font-weight: var(--weight-bold);
}
.w_box .box .left .btn:hover::after {
    left: -10%;
    width: 120%;
}

.w_box .box .right {
    flex: 0 0 60%;
    justify-content: space-between;
}
.w_box .box .right .card {
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
}
.w_box .box .right .card h3 {
    opacity: 0;
    z-index: 100;
    position: absolute;
    bottom: 0;
    right: 8vw; 
    font-family: 'Anton', sans-serif;
    font-size: var(--font-large);
    color: var(--color-white);
    transition: all 0.6s ease;
}
.w_box .box .right .card p {
    opacity: 0;
    z-index: 100;
    position: absolute;
    top: 8%;
    right: 8%;
    color: var(--color-white);
    font-size: var(--font-micro);
    letter-spacing: 1px;
    transition: all 0.6s ease;
}

.w_box .box .right .card .img {
    width: 100%;
    height: var(--img-height);
}

.w_box1 .box .right .card .img {background: url(../img/standard@2.jpg) no-repeat center center; background-size: cover;}
.w_box2 .box .right .card .img {background: url(../img/responsive@2.jpg) no-repeat center center; background-size: cover;}
.w_box3 .box .right .card .img {background: url(../img/megabox@2.jpg) no-repeat center center; background-size: cover;}
.w_box4 .box .right .card .img {background: url(../img/kream@2.jpg) no-repeat center center; background-size: cover;}

.w_box .box .right .card .btn a {
    position: absolute;
    right: 14px;
    bottom: 14px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    mix-blend-mode: hard-light;
    transition: all 0.3s ease;
}

.w_box1 .box .right .card .btn a {background-color: #84680c;}
.w_box2 .box .right .card .btn a {background-color: #417279;}
.w_box3 .box .right .card .btn a {background-color: #4d4882;}
.w_box4 .box .right .card .btn a {background-color: #7b4141;}

.w_box .box .right .card:hover .btn a {
    transform: scale(29);
    -webkit-transform: scale(29);
    -moz-transform: scale(29);
    -ms-transform: scale(29);
    -o-transform: scale(29);
}

.w_box .box .right .card:hover h3, 
.w_box .box .right .card:hover p{
    opacity: 1;
}

.work_box > article .box::before {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s cubic-bezier(0, 0.87, 0.26, 1.04) 0.1s;
}
.work_box > article .box::after {
    opacity: 0;
    transform: translateX(-30px);
    transition: all 1s cubic-bezier(0, 0.87, 0.26, 1.04) 0.3s;
}

.work_box > article .left .title h3 {
    opacity: 0;
    transform: translateY(60px);
    transition: all 1s cubic-bezier(0, 0.87, 0.26, 1.04) 0.4s;
}
.work_box > article .left .title p {
    opacity: 0;
    transform: translateY(60px);
    transition: all 1s cubic-bezier(0, 0.87, 0.26, 1.04) 0.5s;
}
.work_box > article .left .txt .des {
    opacity: 0;
    transform: translateY(60px);
    transition: all 1s cubic-bezier(0, 0.87, 0.26, 1.04) 0.6s;
}
.work_box > article .left .txt .skill {
    opacity: 0;
    transform: translateY(60px);
    transition: all 1s cubic-bezier(0, 0.87, 0.26, 1.04) 0.7s;
}
.work_box > article .left .btn {
    opacity: 0;
    transform: translateX(-60px);
    transition: all 1s cubic-bezier(0, 0.87, 0.26, 1.04) 0.8s;
}

.work_box > article .right { opacity: 0; transform: scale(0); transition: all 1s cubic-bezier(0, 0.87, 0.26, 1.04) 0.8s;}

.work_box > article.show .box::before { opacity: 1; transform: translateY(0);}
.work_box > article.show .box::after { opacity: 1; transform: translateX(0);}
.work_box > article.show .left .title h3 {opacity: 1; transform: translateY(0);}
.work_box > article.show .left .title p {opacity: 1; transform: translateY(0);}
.work_box > article.show .left .txt .des {opacity: 1; transform: translateY(0);}
.work_box > article.show .left .txt .skill {opacity: 1; transform: translateY(0);}
.work_box > article.show .left .btn {opacity: 1; transform:translateX(0);}

.work_box > article.show .right {opacity: 1; transform:scale(1);}

.ani_box .box .right iframe {
    width: 100%;
    height: 100%;
}
.ani_box .box .right {
    overflow: hidden;
    width: var(--img-width);
    height: var(--img-height);
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

#modal .modal_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color:rgba(36, 35, 33, 0.7);
}

#modal .modal_bg .modal_cont {
    position: relative;
    display: inline-block;
    width: 50vw;
    height: 50vh;
}

#modal .modal_bg .modal_cont .close {
    padding: 10px 0;
    position: absolute;
    display: flex;
    top: 1%;
    left: 101%;
    width: 40px;
}

#modal .modal_bg .modal_cont .close i {
    font-size: 24px;
    color: #fff;
}

#modal.one {
    transform: scaleY(0.005) scaleX(0);
    -webkit-transform: scaleY(0.005) scaleX(0);
    -moz-transform: scaleY(0.005) scaleX(0);
    -ms-transform: scaleY(0.005) scaleX(0);
    -o-transform: scaleY(0.005) scaleX(0);
    animation: foldIn 1s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
    -webkit-animation: foldIn 1s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

#modal.one.out {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    animation: foldOut 1s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
    -webkit-animation: foldOut 1s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

#modal.one .modal-bg .modal-cont {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
    -webkit-animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

#modal.one.out .modal-bg .modal-cont {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    animation: zoomIn 0.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
    -webkit-animation: zoomIn 0.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

@keyframes foldIn {
    0% {
        transform: scaleY(0.005) scaleX(0);
        -webkit-transform: scaleY(0.005) scaleX(0);
        -moz-transform: scaleY(0.005) scaleX(0);
        -ms-transform: scaleY(0.005) scaleX(0);
        -o-transform: scaleY(0.005) scaleX(0);
}
    50% {
        transform: scaleY(0.005) scaleX(1);
        -webkit-transform: scaleY(0.005) scaleX(1);
        -moz-transform: scaleY(0.005) scaleX(1);
        -ms-transform: scaleY(0.005) scaleX(1);
        -o-transform: scaleY(0.005) scaleX(1);
}
    100% {
        transform: scaleY(1) scaleX(1);
        -webkit-transform: scaleY(1) scaleX(1);
        -moz-transform: scaleY(1) scaleX(1);
        -ms-transform: scaleY(1) scaleX(1);
        -o-transform: scaleY(1) scaleX(1);
}
}

@keyframes foldOut {
    0% {
        transform: scaleY(1) scaleX(1);
        -webkit-transform: scaleY(1) scaleX(1);
        -moz-transform: scaleY(1) scaleX(1);
        -ms-transform: scaleY(1) scaleX(1);
        -o-transform: scaleY(1) scaleX(1);
}
    50% {
        transform: scaleY(0.005) scaleX(1);
        -webkit-transform: scaleY(0.005) scaleX(1);
        -moz-transform: scaleY(0.005) scaleX(1);
        -ms-transform: scaleY(0.005) scaleX(1);
        -o-transform: scaleY(0.005) scaleX(1);
}
    100% {
        transform: scaleY(0.005) scaleX(0);
        -webkit-transform: scaleY(0.005) scaleX(0);
        -moz-transform: scaleY(0.005) scaleX(0);
        -ms-transform: scaleY(0.005) scaleX(0);
        -o-transform: scaleY(0.005) scaleX(0);
}
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
}
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
}
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* section7 .possi */
.possi {padding: 20vh 0;}

.possi_title h2 {position: relative; }

.possi_title strong {
    position: absolute;
    z-index: 100;
    font-family: 'Source Sans Pro', serif;
    font-size: var(--title-regular);
    font-weight: var(--weight-medium);
    font-style: italic;
}

.possi_title strong:nth-child(1) {top:-9vw; right:10vw;}
.possi_title strong:nth-child(2) {top:-2.2vw; right:6vw; color: var(--color-transparent); -webkit-text-stroke: 1.3px var(--color-black);}

.possi_title strong span{
    display: inline-block;
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
}

.possi_title h2 p {
    position: absolute; 
    top: -35vh; 
    right: 0; 
    font-family: 'Nanum Maru Buri'; 
    font-size: var(--font-regular);
}

.possi .has_ani {
    position: relative;
    width: 100%;
}

.possi .has_ani img {opacity: 0;}

.possi .has_ani.ani_in img {
    animation: imgHidden 0.5s forwards 0.7s;
    -webkit-animation: imgHidden 0.5s forwards 0.7s;
}

.possi .has_ani.ani_in::before, .has_ani.ani_in::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
}

.possi .has_ani.ani_in::before {
    background-color: var(--color-dgray);
}
.possi .has_ani.ani_in::after {
    background-color: #7bb7ca;
    animation-delay: 0.5s;
}

.possi .has_ani.ani_ltr.ani_in:before {
    animation: revealLTR 1.5s ease;
    -webkit-animation: revealLTR 1.5s ease;
}
.possi .has_ani.ani_ltr.ani_in:after {
    animation: revealLTR 1.2s ease;
    -webkit-animation: revealLTR 1.2s ease;
}

@keyframes revealLTR {
    0% {
    width: 0;
    left: 0;
    }
    65% {
    width: 100%;
    left: 0;
    }
    100% {
    width: 0;
    left: 100%;
    }
}

@keyframes revealRTL {
    0% {
    width: 0;
    left: 100%;
    }
    65% {
    width: 100%;
    left: 0;
    }
    100% {
    width: 0;
    left: 0;
    }
}

@keyframes imgHidden {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.possi_box {display: flex;}

.possi_box .right_box {
    overflow: hidden;
    padding: 0 3%; 
    width: 50%;
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly;
}

.possi_box .right_box em {position: relative; font-family: 'Fjalla One', sans-serif; font-size: var(--font-regular);}
.possi_box .right_box em::after {content: ""; position: absolute; height: 1px; background-color: var(--color-black);}
.possi_box .right_box p {padding-top: 3%; font-size: var(--font-small); font-weight: var(--weight-light);}

.possi_box .right_box .p_txt {flex-basis: 70%;}
.possi_box .right_box .p_txt p {
    opacity: 0;
    padding: 40% 0 10%;
    font-family: 'Nanum Maru Buri';
    font-size: var(--font-small);
    line-height: 2;
    font-weight: var(--weight-light);
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transition: all 1s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1s;
    -webkit-transition: all 1s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1s;
    -moz-transition: all 1s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1s;
    -ms-transition: all 1s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1s;
    -o-transition: all 1s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1s;
}

.possi_box .right_box .p_txt.show p {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}

.possi_box .right_box .skills {
    opacity: 0;
    padding-right: 40%;
    flex-basis: 15%;
    transform: translateY(80px);
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transition: all 1.5s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1.2s;
    -webkit-transition: all 1.5s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1.2s;
    -moz-transition: all 1.5s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1.2s;
    -ms-transition: all 1.5s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1.2s;
    -o-transition: all 1.5s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1.2s;
}

.possi_box .right_box .skills.show {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}

.possi_box .right_box .skills em::after {left: -5px; bottom: -5px; width: 55px; font-weight: var(--weight-regular);}

.possi_box .right_box .license {
    opacity: 0;
    padding-left: 40%;
    flex-basis: 15%;
    text-align: right;
    transform: translateY(80%);
    -webkit-transform: translateY(80%);
    -moz-transform: translateY(80%);
    -ms-transform: translateY(80%);
    -o-transform: translateY(80%);
    transition: all 1.5s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1.4s;
    -webkit-transition: all 1.5s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1.4s;
    -moz-transition: all 1.5s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1.4s;
    -ms-transition: all 1.5s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1.4s;
    -o-transition: all 1.5s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1.4s;
}

.possi_box .right_box .license.show {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}

.possi_box .right_box .license em::after {right: -5px; bottom: -5px; width: 75px; font-weight: var(--weight-regular);}

.possi_mbox {display: none;}
/* -------------------------------------------------------------------------------------------------------------------- */

/* footer */
.footer {
    padding-top: 10vh;
    /* position: fixed;
    left: 0;
    top: 0; */
    width: 100%;
    height: 100vh;
}
.footer .circle {position: absolute; top: 75%; right: 10%; width: 100px;}
.footer .circle.rot {
    animation: rota 3s linear infinite;
    -webkit-animation: rota 3s linear infinite;
}

@keyframes rota {
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
    }
    25%{
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
}
    75% {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
}
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}


.footer .footer_title {margin-left: 10%; padding-top: 10vh;}
.footer .footer_title h2 {overflow: hidden; font-family: 'Anton', sans-serif; font-size: var(--font-large);}
.footer .footer_title h2 span {
    display: inline-block;
    opacity: 0;
    transform:translateY(40px);
    -webkit-transform:translateY(40px);
    -moz-transform:translateY(40px);
    -ms-transform:translateY(40px);
    -o-transform:translateY(40px);
}

.f_box {display: flex; padding-top: 10vh;}
.f_box .left_box {flex-basis: 40%; padding-left: 10%; }
.f_box .left_box input {width: 100%; max-width: 400px; padding: 3%; margin-bottom: 5%; color: var(--color-dgray); background-color: var(--color-transparent); border: 1px solid var(--color-white);}
.f_box .left_box .message {width: 100%; max-width: 400px; height: 150px; color: var(--color-dgray); background-color: var(--color-transparent); border: 1px solid var(--color-white);}
.f_box .left_box button {cursor: pointer; width: 110px; height: 40px; font-size: var(--font-small); color: var(--color-dgray); background: var(--color-transparent); border: 1px solid var(--color-white);}

.f_box .right_box {position: relative; padding-left: 15%;}
.f_box .right_box .info {padding-top: 10%;}
.f_box .right_box .info em {position: relative; padding-right: 35%; display: inline-block; width: 90px;}
.f_box .right_box .info em::after {content: ''; position: absolute; top: 7px; right: 13PX; width: 1px; height: 10px; background-color: var(--color-white);}
.f_box .right_box .info li {padding: 5% 0;}
.f_box .right_box .info .call a {color: var(--color-white);}
.f_box .right_box .info .instagram a {color: var(--color-white);}
/* -------------------------------------------------------------------------------------------------------------------- */

/* @media query */

/* 화면 너비 0 ~ 1280px */
@media (max-width: 1280px){
    .row {padding: 0 24px;}
    /* // 공통 */

    .w_box .box .left {display: flex; flex-direction: column;}

    .w_box .box .left .title p {padding-right: 20%;}
    /* // section6 .work */

    .possi_box .right_box p {font-size: var(--font-micro);}
    .possi_box .right_box .p_txt p {font-size: var(--font-micro);}
    .possi_box .right_box .skills {padding-right: 34%;}
    .possi_box .right_box .license {padding-left: 33%;}
    /* // section7 .possi */
}

/* 화면 너비 0 ~ 1024px */
@media (max-width: 1024px){
    #nav {display: none;}
    /* // nav */

    .work_box .w_box {padding-bottom: 40vh;}

    .w_box .box::before {top: -21vh;}
    .w_box .box::after {top: -10vh; width: 140px;}
    .w_box .box {flex-direction: column-reverse;}

    .w_box .box .left {flex-basis: 100%;}
    .w_box .box .left .txt {margin-top: 4vh;}
    .w_box .box .left .txt .des {margin-bottom: 2vh;}
    .w_box .box .left .btn {margin-top: 2vh;}

    .w_box .box .right {flex-basis: 100%; padding-bottom: 10%;}
    .w_box .box .right .card .img,
    .ani_box .box .right {width: 100%; height: calc(var(--img-height) * var(--ratio-one))}
    .w_box .box .right .card:hover .btn a {transform: scale(35); -webkit-transform: scale(35); -moz-transform: scale(35); -ms-transform: scale(35); -o-transform: scale(35);}
    /* // section 6 .work */

    .possi_title h2 p {top: -22vh;}
    .possi_box .right_box .skills {display: none;}
    .possi_box .right_box .license {display: none;}

    .possi_mbox {display: block; padding: 3% 1% 0;}
    .possi_mbox em {position: relative; font-family: 'Fjalla One', sans-serif; font-size: var(--font-regular);}
    .possi_mbox em::after {content: ""; position: absolute; bottom: -5px; height: 1px; background-color: var(--color-black);}
    .possi_mbox p {padding-top: 3%; font-size: var(--font-small);}

    .possi_mbox .skills em::after {left: -2px; width: 55px;}
    .possi_mbox .skills p {padding-right: 52%;}

    .possi_mbox .license {text-align: right;}
    .possi_mbox .license em::after {right: -2px; width: 75px;}
    /* // section 7 .possi */
}

/* 화면 너비 0 ~ 768px */
@media (max-width: 768px){
    .container {width: 100%;}
    /* // 공통 */

    #section1 {height: 130vh;}
    #section1 .row {height: 100vh;}
    .main {
        padding: 30vh 0;
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        -webkit-transform: translateY(-40%);
        -moz-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
        -o-transform: translateY(-40%);
}
    /* // section1 .main */

    .about_box .txt_box {width: 100%;}
    .txt_box .title_box .subtitle {display: block;}
    .txt_box .title_box .during {margin-left: 0;}
    .possi_box .left_box img {padding-top: 30%;}
    .possi_box .right_box {padding: 0 0 0 3%;}
    .possi_title h2 em:nth-child(1) {top: -5vw; right: 18vw;}
    .possi_title h2 em:nth-child(2) {top: 1vw; right: 6vw;}
    /* // section2 .about */

    .slide {display: block; position: relative;}

    .slide .left, 
    .slide .right {display: block; width: 100%; height: 100vh;}

    .slide .left {z-index: 1; position: relative;}

    .slide .right {z-index: 0; position: absolute; left: 0; top: 0;}

    .slide1 .left .text_wrap {width: 80%; background: rgba(243, 210, 175, 0.8);}
    .slide2 .left .text_wrap {width: 80%; background: rgba(180, 217, 234, 0.8);}
    .slide3 .left .text_wrap {width: 80%; background: rgba(222, 197, 245, 0.8);}

    .left .text_wrap .cont_title .main_txt:nth-child(1) {font-size: 6vw;}
    .left .text_wrap .cont_title .main_txt span {min-width: 20px;}
    .left .text_wrap .cont_title {margin: 0 0 7vw;}

    .content_wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .left .text_wrap .content_wrap .content_txt  {
        margin: 0 0 10vw 10vw;
        -webkit-box-ordinal-group: 2;
        order: 1;
        max-width: 100vw;
    }

    .left .text_wrap .content_wrap a.top_link {
        -webkit-box-ordinal-group: 3;
        order: 2;
        align-self: flex-end;
        top: -1.5vh;
        right: 0;
    }

    .left .next_slide {display: none;}
    /* // section3,4,5 */

    .w_box .box .right .card .img, 
    .ani_box .box .right {height: calc(var(--img-height) / var(--ratio-one));}
    /* // section6 .work */

    .footer .f_box .left_box {display: none;}
    .footer .f_box .right_box {padding-left: 10%;}
    /* // footer */
}

/* 화면 너비 0 ~ 600px */
@media (max-width: 600px) {
    .main strong:last-child span {min-width: 10px;}
    /* //section1 .main */

    .about {padding: 10vh 3%;}
    .txt_box .title_box .subtitle {font-size: var(--font-regular);}
    .txt_box .a_txt {font-size: var(--font-micro);}
    /* // section2 .about */
    
    .w_box .box::before {top: -10vh; font-size: 6vh;}
    .w_box .box::after {top: -4vh; left: 8vh; width: 100px;}

    .w_box:nth-child(even) .box .left {margin-left: auto; text-align: right;}

    .w_box .box .left .title h3 {padding-bottom: 1vh; font-size: var(--font-medium);}
    .w_box .box .left .title p {padding-right: 0; font-size: var(--font-micro); font-weight: var(--weight-thin);}

    .w_box .box .left .txt {margin-top: 2vh;}
    .w_box .box .left .txt li {font-size: var(--font-micro);}

    .w_box .box .left .btn a {font-size: var(--font-micro);}
    .w_box:nth-child(even) .box .left .btn {display: block; margin-left: auto;}

    .w_box .box .right .card h3 {font-size: var(--font-medium);}
    .w_box .box .right .card:hover .btn a {transform: scale(24);}
    /* // section6 .work */

    .possi_title h2 em {font-size: var(--title-medium);}
    .possi_title h2 em:nth-child(1) {top: -20vw; right: 11vw;}
    .possi_title h2 em:nth-child(2) {top: -12vw;}
    .possi_title h2 p {top:-24vh; right: 3%; font-size: var(--font-micro);}

    .possi_box {display: block;} 
    .possi_box .left_box {padding: 3%; width: auto;}
    .possi_box .left_box img {padding-top: 0;}

    .possi_box .right_box {padding: 0; width: auto;}
    .possi_box .right_box .p_txt p {padding: 10% 3% 10%;}

    .possi_mbox {padding: 0 3%;}
    .possi_mbox em {font-size: var(--font-small);}
    .possi_mbox p {font-size: var(--font-micro);}
    
    .possi_mbox .skills p {padding-right: 0;}
    .possi_mbox .license {margin-top: 10%; text-align: inherit;}
    .possi_mbox .license em::after {left: -2px;}
    /* // section7 .possi */
}

/* 0 ~ 460px 일떄 */
@media screen and (max-width: 460px) {
    .main span.outline {font-weight: var(--weight-light); -webkit-text-stroke: 0.6px var(--color-black);}
    /* // section1 .main */

    #section6 .container {padding: 0;}

    .w_box .box .left .btn {display: none;}
    .w_box:nth-child(even) .box .left .btn {display: none;}

    .w_box .box .right .card .img, 
    .ani_box .box .right {height: calc(var(--img-height) / var(--ratio-two));}
    .w_box .box .right .card:hover .btn a { transform:scale(16); -webkit-transform:scale(16); -moz-transform:scale(16); -ms-transform:scale(16); -o-transform:scale(16);}
    /* // section6 .work */

    .possi_title h2 em:nth-child(2) {font-weight: var(--weight-light); -webkit-text-stroke: 0.6px var(--color-black);}
    /* // section7 .possi */

    .footer .footer_title {margin-left: 3%;}
    .footer .f_box {padding-top: 0;}
    .footer .f_box .right_box {padding-left: 3%;}
    .footer .circle {width: 80px;}
    /* // footer */
}