@charset "UTF-8";

@font-face {
    font-family: 'Nanum Maru Buri';
    font-weight: normal; 
    font-style: normal; 
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_02/NanumMaruburiBetar.woff2) format('woff2'),
        url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_02/NanumMaruburiBetar.woff) format('woff');
    font-display: swap;
}

/* Global */
:root {
    /* color */
    --color-dark: #000000;
    --color-back: #242321;
    --color-black: #222222;
    --color-gray: #B5ACAC;
    --color-dgray: #6b6161;
    --color-white: #F0F0F0;
    --color-bg2: #d6d6d6;
    --color-transparent: transparent;
    
    /* Font size */
    --font-large: 48px;
    --font-medium: 32px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* title size */
    --title-large: 16vw;
    --title-medium: 12vw;
    --title-regular: 8vw;

    /* Font weight */
    --weight-black : 900;
    --weight-bold: 700;
    --weight-medium: 500;
    --weight-regular: 400;
    --weight-light: 300;
    --weight-thin: 100;

    /* ani box */
    --img-width: 650px;
    --img-height: 460px;
    --ratio-one: 1.2;
    --ratio-two: 1.6;
}

body {
    color: var(--color-back);
    background: var(--color-white);
}

.grain {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.06;
    z-index: 1;
}

/* -------------------------------------------------------------------------------------------------------------------- */

/* scroll box */
.scroll {
    position: fixed;
    z-index: 100000;
    left: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* progress */
.progress {
    background: var(--color-dark) ;
    color: var(--color-bg2);
    width: 100%; 
    height: 100vh;
    position: fixed; 
    z-index: 50000;
	animation: progress 0.5s ease;
}
.progress-text {
    display: block;
    font-size: 2.6vw;
    margin-top: 10px;
    position: absolute;
    top: 73%;
    left: 50%;
    width: 100%;
    height: 100vh;
    line-height: 100vh;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: #fff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#loading {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* layout */
#header{
    width: 100%;
    height: 40px;
}

#contents {width: 100%;}

#section1 {
    opacity: 0;
    position: relative;
    width: 100%;
    background-color: var(--color-white);
    transition: all 0.5s ease-in-out;
}

#section1.show {opacity: 1;}

#section2 {
    position: relative;
    width: 100%; 
    background-color: var(--color-back);
}

#section3 {
    padding-top: 20vh; 
    position: relative; 
    width: 100%; 
    background-color: var(--color-back);
}

#section4 {
    margin: 20vw 0;
    position: relative;
    width: 100%; 
    background-color: var(--color-white);
}

#footer {
    width: 100%;
    height: 100vh; 
    color: var(--color-white);
    background-color: var(--color-back);
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* container */
.container {
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* header */
.hd_bg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-dark);
}

.hd_bg strong {
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    font-size: 13vw;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: var(--color-bg2);
    transform: translate(-50%, -70%);
}

.hd_bg strong span {
    padding-left: 6px;
    transform: translateY(60px);
}

.hd_bg em {
    margin-top: 12%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    font-family: 'Anton', sans-serif; 
    font-size: 7vw;
    color: var(--color-bg2);
    transform: translate(-50%, -50%);
}

.hd_bg em span {
    padding-left: 3px;
    font-weight: var(--weight-medium); 
    -webkit-text-stroke: 1.4px var(--color-white); 
    color: var(--color-transparent);
    transform: translateY(60px);
    
}

.hd {
    padding: 20px 30px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    opacity: 0;
    transition: all 0.5s ease ;
}
.hd.on {position: fixed; top: -50px;}

.hd h1 {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-micro); 
    font-weight: var(--weight-thin);
}
.hd strong {
    font-family: 'Roboto', sans-serif; 
    font-size: var(--font-micro); 
    font-weight: var(--weight-thin);
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* nav */
#nav {
    position: fixed;
    top: 50%;
    right: 30px;
    z-index: 100000;
    font-family: 'Fjalla One', sans-serif;
    font-size: var(--font-small);
    text-transform: capitalize;
    white-space: nowrap;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
}
.nav_list {opacity: 0;}
.nav_list li {display: inline;}
.nav_list li a {
    padding: 10px 0;
    display: inline-block; 
    color: var(--color-back);
}

.nav_list li.on a{
    color: var(--color-back);
    text-decoration: line-through;
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* scrolldown */
.down {
    opacity: 0;
    position: fixed;
    z-index: 100;
    bottom: 5%;
    right: 2%;
}

.down.on {
    display: none;
}

.down .mouse {
    display: inline-block;
    width: 30px;
    height: 50px;
    border-radius: 50px;
    box-sizing: border-box;
    border: 1.5px solid var(--color-back);
    animation: mouse 2s ease-in-out;
}

@keyframes mouse {
    0% {opacity: 0;}
    65% {opacity: 0.6;}
    100%{opacity: 1;}
}

.down .mouse .wheel {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 5px;
    height: 12px;
    background-color: var(--color-back);
    border-radius: 30%;
}
.down .mouse .scroll1 {
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid var(--color-back);
    animation: down3 1.2s infinite;
}
.down .mouse .scroll2 {
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid var(--color-back);
    animation: down2 1.2s infinite;
}
.down .mouse .scroll3 {
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid var(--color-back);
    animation: down 1.2s infinite;
}

@keyframes down{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
        transform: translateY(8px);
    }
}
@keyframes down2{
    40%{
        opacity:0;
    }
    100%{
        opacity:0.5;
        transform: translateY(8px);
    }
}
@keyframes down3{
    60%{
        opacity:0;
    }
    100%{
        opacity:0.2;
        transform: translateY(8px);
    }
}

/* -------------------------------------------------------------------------------------------------------------------- */

/* section1 .main */
#section1 .container{width: 90%;}

.main {padding: 20vh 0 40vh}
.main strong {
    padding-bottom: 1%; 
    display: block; 
    font-size: var(--title-medium); 
    font-family: 'Anton', sans-serif; 
    font-weight: var(--weight-regular); 
    line-height: 12vw; 
    white-space: nowrap;
}
.main strong.outline {font-weight: var(--weight-medium); -webkit-text-stroke: 1.4px var(--color-back); color: var(--color-transparent);}
.main strong span {
    display: inline-block;
    opacity: 0;
    transform:translateY(40px) ;
}

.main strong:last-child span {min-width: 25px;}

/* -------------------------------------------------------------------------------------------------------------------- */

/* section2 .about */
#section2 .container {max-width: none;}

.about {width: 100%; background-color: var(--color-back);}

.about .title {padding-left: 10%; position: relative; height: 110vh;}

.about .title h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Anton', sans-serif; 
    font-size: var(--title-large); 
    font-weight: var(--weight-medium); 
    white-space: nowrap;
    color: var(--color-white);
}
.about .title h2 span {
    display: inline-block;
    opacity: 0;
    min-width: 8%;
    transform: translateY(40px);
}

.about .slide {
    overflow: hidden;
    display: flex;
    align-items: stretch;
    height: 100vh;
}

.about .slide .left {
    flex-basis: 50%;
    position: relative;
    z-index: 1;
}
.about .slide .left .twrap {
    padding: 6vw 6vw 10vw;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.about .slide .left .twrap .stitle {margin: 0 0 4vw; font-family: 'Nanum Maru Buri'; letter-spacing: 0.3vw;}
.about .slide .left .twrap .stitle strong {display: block; font-size: 4vw;}
.about .slide .left .twrap .stitle strong span {
    display: inline-block;
    min-width: 30px;
    opacity: 0;
    transform: translateY(50px);
}
.about .slide .left .twrap .stitle b span {
    display: inline-block;
    opacity: 0;
    transform: translateX(40px);
}

.about .slide .left .twrap .content {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.about .slide .left .twrap .content p {
    margin-left: 32px;
    max-width: 24vw;
    -webkit-box-ordinal-group: 3;
    order: 2;
    font-family: 'Nanum Maru Buri';
}

.about .slide .left .twrap .content .pslide {
    position: relative;
    top: 2vh;
    right: 1vw;
    display: flex;
    justify-content: flex-end;
    -webkit-box-ordinal-group: 2;
    order: 1;
    width: 75px;
    height: 53px;
}

.about .slide .left .pslide .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--color-dark);
}

.about .slide .left .pslide .line {
    position: absolute;
    top: 69%;
    left: 0;
    width: 55px;
    height: 3px;
    background-color: var(--color-dark);
    transition: all 1s cubic-bezier(0, 0.51, 0.43, 1.25);
}

.about .slide .left .pslide:hover .line {
    left: 35px;
    width: 30px;
    transform: translateX(20px);
}

.about .slide .left .nslide {
    overflow: hidden;
    position: absolute;
    right: -94px;
    bottom: 3.5vw;
    display: block;
    width: 120px;
    height: 140px;
    background: var(--color-back);
}

.about .slide .left .nslide .line {
    position: absolute;
    left: 26px;
    bottom: 0;
    width: 1px;
    height: 60%;
    transition: height 0.5s cubic-bezier(0, 0.51, 0.43, 1.25);
} 
.about .slide .left .nslide:hover .line {height: 20%;}

.about .slide1 .left .twrap {background: #e2e2c9;}
.about .slide2 .left .twrap {background: #b5d5e4;}
.about .slide3 .left .twrap {background: #d8bad3;}

.about .slide1 .nslide .line {background: #e2e2c9;}
.about .slide2 .nslide .line {background: #b5d5e4;}
.about .slide3 .nslide .line {background: #d8bad3;}

.about .slide .right {overflow: hidden; position: relative; flex-basis: 50%;}
.about .slide .right .iwrap {position: relative; width: 100%; height: 110vh;}
.about .slide .right .iwrap img {object-fit: cover; width: 100%; height: 100%; opacity: 0;}

.about .slide .right .iwrap.ani_in img { animation: imgHidden 0.5s forwards 0.7s;}
.about .slide .right .iwrap.ani_in::before, 
.about .slide .right .iwrap.ani_in::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
}

.about .slide .right .iwrap.ani_in::before {background-color: var(--color-dgray);}
.about .slide1 .right .iwrap.ani_in::after {background-color: #237abf ;animation-delay: 0.5s;}
.about .slide2 .right .iwrap.ani_in::after {background-color: #f7cc45; animation-delay: 0.5s;}
.about .slide3 .right .iwrap.ani_in::after {background-color: #ee5f59; animation-delay: 0.5s;}

.about .slide .right .iwrap.ani_rtl.ani_in:before { animation: revealRTL 1s ease;}
.about .slide .right .iwrap.ani_rtl.ani_in:after { animation: revealRTL 0.8s ease 0.4s;}

@keyframes revealRTL {
    0% {width: 0; left: 100%;}
    65% {width: 100%; left: 0;}
    100% {width: 0; left: 0;}
}

@keyframes imgHidden {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.slide_box > article .left .twrap {
    opacity: 0;
    transform: translateY(200px);
    transition: all 0.5s cubic-bezier(0, 0.51, 0.43, 1.25);
}

.slide_box > article .left .twrap .content p {
    opacity: 0;
    transform: translateX(100px);
    transition: all 1s cubic-bezier(0, 0.51, 0.43, 1.25) 1s;
}

.slide_box > article .left .twrap .content .pslide {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s cubic-bezier(0, 0.51, 0.54, 1) 1.3s;
}

.slide_box > article .left .nslide {
    opacity: 0;
    transform: translateY(300px);
    transition: all 0.5s cubic-bezier(0, 0.51, 0.43, 1.25) 1.5s;
}

.slide_box > article.show .left .twrap { transform: translateY(0); opacity: 1; }
.slide_box > article.show .left .twrap .content p { transform: translateX(0); opacity: 1; }
.slide_box > article.show .left .twrap .content .pslide { transform: translateX(0); opacity: 1; }
.slide_box > article.show .left .nslide { transform: translateY(0); opacity: 1; }

/* -------------------------------------------------------------------------------------------------------------------- */

/* section3 .work */
#section3 .container {padding: 0 6vw;}

.work {padding: 20vh 0; color: var(--color-white);}
.work .title {margin-bottom: 50vh; text-align: center;}
.work .title h2 {
    overflow: hidden; 
    font-family: 'Anton', sans-serif; 
    font-size: var(--title-large); 
    font-weight: var(--weight-medium); 
    white-space: nowrap;
}
.work .title h2 span {
    display: inline-block;
    opacity: 0;
    transform:translateY(40px);
}

.work .work_box {counter-reset: count;}
.work .work_box .w_box {padding-bottom: 50vh; counter-increment: count;}
.work .work_box .w_box7 {padding-bottom: 40vh;}
.work .work_box .w_box .box {display: flex; position: relative;}
.work .work_box .w_box .box:nth-child(n+10)::before{content: counter(count);}

.work .work_box .w_box .box::before {
    content: "0" counter(count);
    position: absolute;
    top: -25vh;
    left: 0;
    font-family: 'Anton', sans-serif;
    font-size: 12vh;
    font-weight: var(--weight-light);
    font-style: italic;
    color: var(--color-transparent);
    -webkit-text-stroke: 1.3px var(--color-white);
}

.work .work_box .w_box .box::after {
    content: '';
    position: absolute;
    top: -13vh;
    left: 15vh;
    width: 120px;
    height: 1px;
    background-color: var(--color-white);
}

.work .work_box .w_box .box .left {
    position:relative; 
    flex: 0 0 40%; 
    justify-content: space-between;
    color: var(--color-white);
}

.work .work_box .w_box .box .left .stitle h3 {
    padding-bottom: 2vh;
    font-family: 'Anton', sans-serif;
    font-size: var(--font-large);
    line-height: 1;
}

.work .work_box .w_box .box .left .stitle p {
    padding-right: 25%;
    font-size: var(--font-small);
    font-weight: var(--weight-bold);
}

.work .work_box .w_box .box .left .txt {margin-top: 6vh;}
.work .work_box .w_box .box .left .txt li {
    font-size: var(--font-small);
    font-weight: var(--weight-light);
    color: var(--color-gray);
}
.work .work_box .w_box .box .left .txt .des {margin-bottom: 4vh;}
.work .work_box .w_box .box .left .btn {
    margin-top: 5vh;
    overflow: hidden;
    position: relative;
    max-width: 220px;
    width: 100%;
    border: 1px solid #fff;
    text-align: center;
}
.work .work_box .w_box .box .left .btn a {
    padding: 0.5vw;
    display: block;
    font-family: 'Fjalla One', sans-serif;
    font-size: var(--font-regular);
    text-transform: uppercase;
    color: var(--color-white);
}
.work .work_box .w_box .box .left .btn:after {
    content: '';
    position: absolute;
    left: -10%;
    bottom: 0;
    width: 0;
    height: 120%;
    transition: 0.3s;
    transform: skewX(20deg);
    background-color: var(--color-white);
    z-index: -1;
}
.work .work_box .w_box .box .left .btn:hover a {
    font-weight: var(--weight-bold);
    color: var(--color-dark);
}
.work .work_box .w_box .box .left .btn:hover::after {
    left: -10%;
    width: 120%;
}

.work .work_box .w_box .box .right {
    flex: 0 0 60%;
    justify-content: space-between;
}
.work .work_box .w_box .box .right .card {
    overflow: hidden;
    position: relative;
    background-color: var(--color-white);
}
.work .work_box .w_box .box .right .card h3 {
    opacity: 0;
    z-index: 100;
    position: absolute;
    right: 8vw;
    bottom: 0;
    font-family: 'Anton', sans-serif;
    font-size: var(--font-large);
    color: var(--color-white);
    transition: all 0.6s ease;
}
.work .work_box .w_box .box .right .card p {
    opacity: 0;
    z-index: 100;
    position: absolute;
    top: 8%;
    right: 8%;
    font-size: var(--font-micro);
    color: var(--color-white);
    letter-spacing: 1px;
    transition: all 0.6s ease;
}

.work .work_box .w_box .box .right .card .img { width: 100%; height: var(--img-height);}
.w_box1 .box .right .card .img {background: url(../img/standard@2.jpg) no-repeat center center; background-size: cover;}
.w_box2 .box .right .card .img {background: url(../img/responsive@2.jpg) no-repeat center center; background-size: cover;}
.w_box3 .box .right .card .img {background: url(../img/megabox@2.jpg) no-repeat center center; background-size: cover;}
.w_box4 .box .right .card .img {background: url(../img/kream@2.jpg) no-repeat center center; background-size: cover;}

.work .work_box .w_box .box .right .card .btn a {
    position: absolute;
    right: 14px;
    bottom: 11px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 38%;
    cursor: pointer;
    outline: none;
    mix-blend-mode: hard-light;
    transform: rotate(45deg);
    transition: all 0.2s ease;
}

.work .work_box .w_box1 .box .right .card .btn a {background-color: #84680c;}
.work .work_box .w_box2 .box .right .card .btn a {background-color: #417279;}
.work .work_box .w_box3 .box .right .card .btn a {background-color: #4d4882;}
.work .work_box .w_box4 .box .right .card .btn a {background-color: #7b4141;}

.work .work_box .w_box .box .right .card:hover .btn a {transform: scale(29);}

.work .work_box .w_box .box .right .card:hover h3, 
.work .work_box .w_box .box .right .card:hover p {opacity: 1;}


.work_box > article .box::before {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s cubic-bezier(0, 0.87, 0.26, 1.04);
}
.work_box > article .box::after {
    opacity: 0;
    transform: translateX(-30px);
    transition: all 1s cubic-bezier(0, 0.87, 0.26, 1.04) 0.1s;
}
.work_box > article .left .stitle h3 {
    opacity: 0;
    transform: translateY(60px);
    transition: all 1s cubic-bezier(0, 0.87, 0.26, 1.04) 0.2s;
}
.work_box > article .left .stitle p {
    opacity: 0;
    transform: translateY(60px);
    transition: all 1s cubic-bezier(0, 0.87, 0.26, 1.04) 0.3s;
}
.work_box > article .left .txt .des {
    opacity: 0;
    transform: translateY(60px);
    transition: all 1s cubic-bezier(0, 0.87, 0.26, 1.04) 0.4s;
}
.work_box > article .left .txt .skill {
    opacity: 0;
    transform: translateY(60px);
    transition: all 1s cubic-bezier(0, 0.87, 0.26, 1.04) 0.5s;
}
.work_box > article .left .btn {
    opacity: 0;
    transform: translateX(-60px);
    transition: all 1s cubic-bezier(0, 0.87, 0.26, 1.04) 0.6s;
}

.work_box > article .right { opacity: 0; transform: scale(0); transition: all 1s cubic-bezier(0, 0.87, 0.26, 1.04) 0.8s;}

.work_box > article.show .box::before { transform: translateY(0); opacity: 1; }
.work_box > article.show .box::after { transform: translateX(0); opacity: 1; }
.work_box > article.show .left .stitle h3 { transform: translateY(0); opacity: 1; }
.work_box > article.show .left .stitle p { transform: translateY(0); opacity: 1; }
.work_box > article.show .left .txt .des { transform: translateY(0); opacity: 1; }
.work_box > article.show .left .txt .skill { transform: translateY(0); opacity: 1; }
.work_box > article.show .left .btn { transform:translateX(0); opacity: 1; }

.work_box > article.show .right { transform:scale(1); opacity: 1; }

.ani_box .box .right iframe { width: 100%; height: 100%;}
.ani_box .box .right {
    overflow: hidden;
    width: var(--img-width);
    height: var(--img-height);
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: scale(0);
}

#modal .modal_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color:rgba(36, 35, 33, 0.7);
}

#modal .modal_bg .modal_cont {
    position: relative;
    display: inline-block;
    width: 50vw;
    height: 50vh;
}

#modal .modal_bg .modal_cont .close {
    padding: 10px 0;
    position: absolute;
    display: flex;
    top: 1%;
    left: 101%;
    width: 40px;
}

#modal .modal_bg .modal_cont .close i {
    font-size: 24px;
    color: #fff;
}

#modal.one {
    transform: scaleY(0.005) scaleX(0);
    animation: foldIn 1s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

#modal.one.out {
    transform: scale(1);
    animation: foldOut 1s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

#modal.one .modal-bg .modal-cont {
    transform: scale(0);
    animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

#modal.one.out .modal-bg .modal-cont {
    transform: scale(0);
    animation: zoomIn 0.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

@keyframes foldIn {
    0% {transform: scaleY(0.005) scaleX(0);}
    50% {transform: scaleY(0.005) scaleX(1);}
    100% {transform: scaleY(1) scaleX(1);}
}

@keyframes foldOut {
    0% {transform: scaleY(1) scaleX(1);}
    50% {transform: scaleY(0.005) scaleX(1);}
    100% {transform: scaleY(0.005) scaleX(0);}
}

@keyframes zoomIn {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

@keyframes zoomOut {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* section4 .possi */
#section4 .container {width: 90%;}

.poss {padding: 20vh 0;}

.poss .title h2 {position: relative; }
.poss .title strong {
    position: absolute;
    z-index: 100;
    font-family: 'Source Sans Pro', serif;
    font-size: var(--title-regular);
    font-weight: var(--weight-medium);
    font-style: italic;
}

.poss .title strong:nth-child(1) {top:-9vw; right:10vw;}
.poss .title strong:nth-child(2) {top:-2.2vw; right:6vw; color: var(--color-transparent); -webkit-text-stroke: 1.3px var(--color-black);}
.poss .title strong span{
    display: inline-block;
    opacity: 0;
    transform: translateY(-40px);
}
.poss .title h2 p {
    position: absolute; 
    top: -35vh; 
    right: 0; 
    font-family: 'Nanum Maru Buri'; 
    font-size: var(--font-regular);
}

.poss .poss_box {display: flex;}

.poss .poss_box .left .has_ani {position: relative; width: 100%;}
.poss .poss_box .left .has_ani img {opacity: 0;}

.poss .poss_box .left .has_ani.ani_in img { animation: imgHidden 0.5s forwards 0.7s;}
.poss .poss_box .left .has_ani.ani_in::before, 
.poss .poss_box .left .has_ani.ani_in::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
}

.poss .poss_box .left .has_ani.ani_in::before { background-color: var(--color-dgray); }
.poss .poss_box .left .has_ani.ani_in::after { background-color: #7bb7ca; animation-delay: 0.5s; }

.poss .poss_box .left .has_ani.ani_ltr.ani_in:before { animation: revealLTR 1.5s ease; }
.poss .poss_box .left .has_ani.ani_ltr.ani_in:after { animation: revealLTR 1.2s ease; }

@keyframes revealLTR {
    0% { width: 0; left: 0; }
    65% { width: 100%; left: 0; }
    100% { width: 0; left: 100%; }
}

@keyframes imgHidden {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.poss .poss_box .right {
    overflow: hidden;
    padding: 0 3%; 
    width: 50%;
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly;
}

.poss .poss_box .right p {padding-top: 3%; font-size: var(--font-small); font-weight: var(--weight-light);}
.poss .poss_box .right .txt {flex-basis: 70%;}
.poss .poss_box .right .txt p {
    padding: 40% 0 10%;
    font-family: 'Nanum Maru Buri';
    font-size: var(--font-small);
    font-weight: var(--weight-light);
    line-height: 2;
}

.poss .poss_box .right em { position: relative; font-family: 'Fjalla One', sans-serif; font-size: var(--font-regular); }
.poss .poss_box .right em::after { content: ""; position: absolute; height: 1px; background-color: var(--color-black); }

.poss .poss_box .right .skills { padding-right: 40%; flex-basis: 15%; }
.poss .poss_box .right .skills em::after { left: -5px; bottom: -5px; width: 55px; font-weight: var(--weight-regular); }

.poss .poss_box .right .license { padding-left: 40%; flex-basis: 15%; text-align: right; }
.poss .poss_box .right .license em::after {right: -5px; bottom: -5px; width: 75px; font-weight: var(--weight-regular); }

.poss .poss_box .right .txt p {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1s;
}

.poss .poss_box .right .skills {
    opacity: 0;
    transform: translateY(80px);
    transition: all 1.5s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1.2s;
}

.poss .poss_box .right .license {
    opacity: 0;
    transform: translateY(80%);
    transition: all 1.5s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1.4s;
}

.poss .poss_box .right.show .txt p { transform: translateY(0%); opacity: 1; }
.poss .poss_box .right.show .skills { transform: translateY(0%); opacity: 1; }
.poss .poss_box .right.show .license { transform: translateY(0%); opacity: 1; }

.poss .poss_mbox {display: none;}

/* -------------------------------------------------------------------------------------------------------------------- */

/* footer */
.footer {
    padding-top: 10vh;
    width: 100%;
    height: 100vh;
}

.footer .circle {position: absolute; top: 75%; right: 10%; width: 100px;}
.footer .circle.rot {animation: rota 3s linear infinite;}

@keyframes rota {
    0% {transform: rotate(0);}
    25%{transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}

.footer .title {margin-left: 10%; padding-top: 10vh;}
.footer .title h2 {overflow: hidden; font-family: 'Anton', sans-serif; font-size: var(--font-large);}
.footer .title h2 span {
    display: inline-block;
    opacity: 0;
    transform:translateY(40px);
}

.footer .f_box {display: flex; padding-top: 10vh;}
.footer .f_box .left {flex-basis: 40%; padding-left: 10%; }
.footer .f_box .left input {width: 100%; max-width: 400px; padding: 3%; margin-bottom: 5%; color: var(--color-white); background-color: var(--color-transparent); border: 1px solid var(--color-white);}
.footer .f_box .left .message {width: 100%; max-width: 400px; height: 150px;}
.footer .f_box .left button {cursor: pointer; width: 110px; height: 40px; font-size: var(--font-small); color: #757575; background: var(--color-transparent); border: 1px solid var(--color-white);}

.footer .f_box .right {position: relative; padding-left: 15%;}
.footer .f_box .right .info {padding-top: 10%;}
.footer .f_box .right .info em {position: relative; padding-right: 35%; display: inline-block; width: 90px;}
.footer .f_box .right .info em::after {content: ''; position: absolute; top: 7px; right: 13PX; width: 1px; height: 10px; background-color: var(--color-white);}
.footer .f_box .right .info li {padding: 5% 0;}
.footer .f_box .right .info .call a {color: var(--color-white);}
.footer .f_box .right .info .kakao a {color: var(--color-white);}

/* -------------------------------------------------------------------------------------------------------------------- */

/* @media query */

/* 화면 너비 0 ~ 1280px */
@media (max-width: 1280px){
    .row {padding: 0 24px;}
    /* // 공통 */

    .work .work_box .w_box .box .left {display: flex; flex-direction: column;}
    .work .work_box .w_box .box .left .title p {padding-right: 20%;}
    /* // section3 .work */

    .poss .poss_box .right p {font-size: var(--font-micro);}
    .poss .poss_box .right .txt p {font-size: var(--font-micro);}
    .poss .poss_box .right .skills {padding-right: 34%;}
    .poss .poss_box .right .license {padding-left: 33%;}
    /* // section4 .poss */
}

/* 화면 너비 0 ~ 1024px */
@media (max-width: 1024px){
    #nav {display: none;}
    /* // nav */

    .work .work_box .work_box .w_box {padding-bottom: 40vh;}

    .work .work_box .w_box .box::before {top: -21vh;}
    .work .work_box .w_box .box::after {top: -10vh; width: 140px;}
    .work .work_box .w_box .box {flex-direction: column-reverse;}

    .work .work_box .w_box .box .left {flex-basis: 100%;}
    .work .work_box .w_box .box .left .txt {margin-top: 4vh;}
    .work .work_box .w_box .box .left .txt .des {margin-bottom: 2vh;}
    .work .work_box .w_box .box .left .btn {margin-top: 2vh;}

    .work .work_box .w_box .box .right {flex-basis: 100%; padding-bottom: 10%;}
    .work .work_box .w_box .box .right .card .img,
    .work .work_box .ani_box .box .right {width: 100%; height: calc(var(--img-height) * var(--ratio-one))}
    .work .work_box .w_box .box .right .card:hover .btn a {transform: scale(35);}
    /* // section 3 .work */

    .poss .title h2 p {top: -22vh;}
    .poss .poss_box .right .skills {display: none;}
    .poss .poss_box .right .license {display: none;}

    .poss .poss_mbox {display: block; padding: 3% 1% 0;}
    .poss .poss_mbox em {position: relative; font-family: 'Fjalla One', sans-serif; font-size: var(--font-regular);}
    .poss .poss_mbox em::after {content: ""; position: absolute; bottom: -5px; height: 1px; background-color: var(--color-black);}
    .poss .poss_mbox p {padding-top: 3%; font-size: var(--font-small);}

    .poss .poss_mbox .skills em::after {left: -2px; width: 55px;}
    .poss .poss_mbox .skills p {padding-right: 52%;}

    .poss .poss_mbox .license {text-align: right;}
    .poss .poss_mbox .license em::after {right: -2px; width: 75px;}

    .poss .poss_mbox .skills {
        opacity: 0;
        transform: translateY(80px);
        transition: all 1.5s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1.2s;
    }
    
    .poss .poss_mbox .license {
        opacity: 0;
        transform: translateY(80%);
        transition: all 1.5s cubic-bezier(0.21, 0.83, 0.71, 1.16) 1.4s;
    }

    .poss .poss_mbox.show .skills { transform: translateY(0%); opacity: 1; }
    .poss .poss_mbox.show .license { transform: translateY(0%); opacity: 1; }
    /* // section4 .poss */
}

/* 화면 너비 0 ~ 768px */
@media (max-width: 768px){
    .container {width: 100%;}
    /* // 공통 */

    #section1 {height: 130vh;}
    #section1 .row {height: 100vh;}
    .main {
        padding: 30vh 0;
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
    }
    /* // section1 .main */

    .about .slide {display: block; position: relative;}
    .about .slide .left, 
    .about .slide .right {display: block; width: 100%; height: 100vh;}

    .about .slide .left {z-index: 1; position: relative;}
    .about .slide1 .left .twrap {width: 80%; background: rgba(243, 210, 175, 0.8);}
    .about .slide2 .left .twrap {width: 80%; background: rgba(180, 217, 234, 0.8);}
    .about .slide3 .left .twrap {width: 80%; background: rgba(222, 197, 245, 0.8);}

    .about .slide .left .twrap .stitle strong:nth-child(1) {font-size: 6vw;}
    .about .slide .left .twrap .stitle strong span {min-width: 20px;}
    .about .slide .left .twrap .stitle {margin: 0 0 7vw;}
    .about .slide .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .about .slide .left .twrap .content p  {
        margin: 0 0 10vw 10vw;
        -webkit-box-ordinal-group: 2;
        order: 1;
        max-width: 100vw;
    }

    .about .slide .left .twrap .content a.pslide {
        -webkit-box-ordinal-group: 3;
        order: 2;
        align-self: flex-end;
        top: -1.5vh;
        right: 0;
    }

    .about .slide .left .nslide {display: none;}

    .about .slide .right {z-index: 0; position: absolute; left: 0; top: 0;}
    /* // section2 .about */

    .work .work_box .w_box .box .right .card .img, 
    .work .work_box .ani_box .box .right {height: calc(var(--img-height) / var(--ratio-one));}
    /* // section3 .work */

    .poss .title h2 em:nth-child(1) {top: -5vw; right: 18vw;}
    .poss .title h2 em:nth-child(2) {top: 1vw; right: 6vw;}
    .poss .poss_box .left_box img {padding-top: 30%;}
    .poss .poss_box .right_box {padding: 0 0 0 3%;}
    /* // section4 .poss */
}

/* 화면 너비 0 ~ 600px */
@media (max-width: 600px) {
    .main strong:last-child span {min-width: 10px;}
    /* //section1 .main */
    
    .work .work_box .w_box .box::before {top: -10vh; font-size: 6vh;}
    .work .work_box .w_box .box::after {top: -4vh; left: 8vh; width: 100px;}

    .work .work_box .w_box:nth-child(even) .box .left {margin-left: auto; text-align: right;}

    .work .work_box .w_box .box .left .stitle h3 {padding-bottom: 1vh; font-size: var(--font-medium);}
    .work .work_box .w_box .box .left .stitle p {padding-right: 0; font-size: var(--font-micro); font-weight: var(--weight-thin);}

    .work .work_box .w_box .box .left .txt {margin-top: 2vh;}
    .work .work_box .w_box .box .left .txt li {font-size: var(--font-micro);}

    .work .work_box .w_box .box .left .btn a {font-size: var(--font-micro);}
    .work .work_box .w_box:nth-child(even) .box .left .btn {display: block; margin-left: auto;}

    .work .work_box .w_box .box .right .card h3 {font-size: var(--font-medium);}
    .work .work_box .w_box .box .right .card:hover .btn a {transform: scale(24);}
    /* // section3 .work */

    .poss .title h2 em {font-size: var(--title-medium);}
    .poss .title h2 em:nth-child(1) {top: -20vw; right: 11vw;}
    .poss .title h2 em:nth-child(2) {top: -12vw;}
    .poss .title h2 p {top:-24vh; right: 3%; font-size: var(--font-micro);}

    .poss .poss_box {display: block;} 
    .poss .poss_box .left {padding: 3%; width: auto;}
    .poss .poss_box .left img {padding-top: 0;}

    .poss .poss_box .right {padding: 0; width: auto;}
    .poss .poss_box .right .txt p {padding: 10% 3% 10%;}

    .poss .poss_mbox {padding: 0 3%;}
    .poss .poss_mbox em {font-size: var(--font-small);}
    .poss .poss_mbox p {font-size: var(--font-micro);}
    
    .poss .poss_mbox .skills p {padding-right: 0;}
    .poss .poss_mbox .license {margin-top: 10%; text-align: inherit;}
    .poss .poss_mbox .license em::after {left: -2px;}
    /* // section4 .poss */

    .footer .f_box .left {display: none;}
    .footer .f_box .right {padding-left: 10%;}
    /* // footer */
}

/* 0 ~ 460px 일떄 */
@media screen and (max-width: 460px) {
    .main span.outline {font-weight: var(--weight-light); -webkit-text-stroke: 0.6px var(--color-black);}
    /* // section1 .main */

    #section3 .container {padding: 0;}

    .work .work_box .w_box .box .left .btn {display: none;}
    .work .work_box .w_box:nth-child(even) .box .left .btn {display: none;}

    .work .work_box .w_box .box .right .card .img, 
    .work .work_box .ani_box .box .right {height: calc(var(--img-height) / var(--ratio-two));}
    .work .work_box .w_box .box .right .card:hover .btn a { transform:scale(16);}
    /* // section3 .work */

    .poss .title h2 em:nth-child(2) {font-weight: var(--weight-light); -webkit-text-stroke: 0.6px var(--color-black);}
    /* // section6 .poss */

    .footer .title {margin-left: 3%;}
    .footer .f_box {padding-top: 0;}
    .footer .f_box .right {padding-left: 3%;}
    .footer .circle {width: 80px;}
    /* // footer */
}