*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
a:hover {border-bottom: 1px dashed #fff;}

img {width: 100%; vertical-align: top;}

ul {padding: 10px 20px;}
li {list-style: none;}



/* 버튼 초기화 */
input, select, textarea, button {vertical-align: middle; border: 0; background: transparent; outline: none; cursor: pointer;}

/* input 스타일 초기화 */
input {background-image: none;}
input[type=button], input[type=reset], input[type=text],
input[type=password], input[type=submit],
input[type=search], input[type=tel], input[type=email] {
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
input:checked[type=checkbox] {
    background-color: #666666;
    -webkit-appearance: checkbox;
}

body {
    background-color: #2c3e50;
    color: #f3f3f3;
}

.wrap {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.contents {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    color: #fff;
    transform: translate(-50%, -50%);
}

.js_clock h1 {
    margin: 0;
    font-size: 8vw;
    line-height: 11vw;
    color: #e0a12b;
    text-shadow: 3px 4px 1px rgb(144 90 90 / 75%);
}

.js_form input,
.js_toDoForm input {
    margin-top: 2vw;
    width: 20vw;
    height: 5vh;
    font-size: 2vh;
    font-weight: bold;
    color: #f3f3f3;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #da9528;
}

.js_toDoList span {
    padding-left: 1vw;
    color: #ea80e7;
    font-size: 3vh;
    font-weight: bold;
}

.js_greetings {
    font-size: 4vw;
    line-height: 11vw;
}

.js_weather {
    padding-top: 3vh;
    display: block;    
    font-size: 2vh;
    font-weight: bold;
}

.form, 
.greetings {display: none;}

.showing {display: block;}

.bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(0.4);
    animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

